<div class="col-xl-12">
    <div class="card sub-menu">
        <div class="card-body">
            <ul class="d-flex">
                <li class="nav-item">
                    <a href="/admin" class="nav-link">
                        <i class="mdi mdi-bullseye"></i>
                        <span>Overview</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/deposits" class="nav-link">
                        <i class="mdi mdi-bitcoin"></i>
                        <span>Deposits</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/withdrawals" class="nav-link">
                        <i class="mdi mdi-bell"></i>
                        <span>Withdrawals</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/investments" class="nav-link">
                        <i class="mdi mdi-heart"></i>
                        <span>Investments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/referrals" class="nav-link">
                        <i class="mdi mdi-database"></i>
                        <span>Referrals</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/blog" class="nav-link">
                        <i class="mdi mdi-blogger"></i>
                        <span>Blog</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/mailing" class="nav-link">
                        <i class="mdi mdi-email"></i>
                        <span>Mailing</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/users" class="nav-link">
                        <i class="mdi mdi-account"></i>
                        <span>Users</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>