<div class="sidebar">
    <div class="brand-logo">
        <a href="index.html"><img src="images/logoi.png" alt="" width="30">
        </a>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/dashboard" data-toggle="tooltip" data-placement="right" title="Home">
                    <span class="text-dark"><i class="bi bi-house"></i> <span class="hide-small">Home</span></span>
                    
                </a>
            </li>
            <li><a href="/wallet" data-toggle="tooltip" data-placement="right" title="Trade">
                    <span class="text-dark"><i class="bi bi-wallet"></i> <span class="hide-small">Wallet</span></span>

                </a>
            </li>
            <li><a href="/invest" data-toggle="tooltip" data-placement="right" title="Wallet">
                    <span class="text-dark"><i class="fa fa-dollar-sign"></i> <span class="hide-small">Invest</span></span>
                </a>
            </li>
            <li><a href="/settings" data-toggle="tooltip" data-placement="right" title="Settings">
                    <span class="text-dark"><i class="bi bi-gear"></i> <span class="hide-small">Settings</span></span>
                </a>
            </li>
            <li class="logout"><a href="/logout" data-toggle="tooltip" data-placement="right"
                    title="Signout">
                    <span><i class="bi bi-power"></i></span>
                </a>
            </li>
        </ul>

        <p class="copyright">
            &#169; <a href="#">Qkit</a>
        </p>
    </div>
</div>
{{!-- 

<div class="col-xl-12">
    <div class="card sub-menu">
        <div class="card-body">
            <ul class="d-flex">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">
                        <i class="mdi mdi-bullseye"></i>
                        <span>Overview</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link">
                        <i class="mdi mdi-account-settings-variant"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/deposit" class="nav-link">
                        <i class="mdi mdi-heart"></i>
                        <span>Deposit</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/withdraw" class="nav-link">
                        <i class="mdi mdi-pentagon"></i>
                        <span>Withdraw</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/invest" class="nav-link">
                        <i class="mdi mdi-database"></i>
                        <span>New Investment</span>
                    </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" class="nav-link" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-history"></i>
                        <span>History </span>
                        <i class="la la-angle-down"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/deposit-history">Deposit History</a>
                        <a class="dropdown-item" href="/withdrawal-history">Withdrawal History</a>
                        <a class="dropdown-item" href="/investment-history">Investment History</a>
                        <a class="dropdown-item" href="/referral-history">Referral History</a>
                    </div>
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
</div> --}}