<div class="get-touch section-padding" data-scroll-index="3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section-title">
                    <h2>Get in touch. Stay in touch.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="get-touch-content">
                    <div class="media">
                        <span><i class="fa fa-shield"></i></span>
                        <div class="media-body">
                            <h4>24 / 7 Support</h4>
                            <p>Got a problem? Just get in touch. Our support team is available 24/7.
                            </p>
                            <p><i class="la la-envelope"></i> hello@awahinvestment.com</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="get-touch-content">
                    <div class="media">
                        <span><i class="fa fa-life-ring"></i></span>
                        <div class="media-body">
                            <h4>Community</h4>
                        </div>
                        
                    </div>
                    <div class="row">
                                <div class="col-6 m-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="la la-telegram" style="padding: 6px; background-color: #ccc; border-radius: 5px; color: #5d78ff; font-size: 25px;"></i>
                                        </div>
                                        <div class="col-9 hide-icon" style="margin-left: 0px; line-height: 0.9">
                                            <a class="" target="_blank" href="https://t.me/awahinvestment">t.me/awahinvestmentafrica</a><br>
                                            <p class="p-0 m-0">Telegram</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 m-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="la la-facebook" style="padding: 6px; background-color: #ccc; border-radius: 5px; color: #5d78ff; font-size: 25px;"></i>
                                        </div>
                                        <div class="col-9 hide-icon" style="margin-left: 0px; line-height: 0.9">
                                            <a class="" target="_blank" href="https://www.facebook.com/Awah-Investment-100973278427090/">awahinvestment</a><br>
                                            <p class="p-0 m-0">Facebook</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 m-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="la la-twitter" style="padding: 6px; background-color: #ccc; border-radius: 5px; color: #5d78ff; font-size: 25px;"></i>
                                        </div>
                                        <div class="col-9 hide-icon" style="margin-left: 0px; line-height: 0.9">
                                            <a class="" target="_blank" href="https://twitter.com/awahinvestment">awahinvestment</a><br>
                                            <p class="p-0 m-0">Twitter</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 m-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="la la-youtube" style="padding: 6px; background-color: #ccc; border-radius: 5px; color: #5d78ff; font-size: 25px;"></i>
                                        </div>
                                        <div class="col-9 hide-icon" style="margin-left: 0px; line-height: 0.9">
                                            <a class="" target="_blank" href="https://www.youtube.com/channel/UCoqiVRKNg41H1jFJRbWAKJA">awahinvestment</a><br>
                                            <p class="p-0 m-0">Youtube</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 m-1">
                                    <div class="row">
                                        <div class="col-3">
                                            <i class="la la-instagram" style="padding: 6px; background-color: #ccc; border-radius: 5px; color: #5d78ff; font-size: 25px;"></i>
                                        </div>
                                        <div class="col-9 hide-icon" style="margin-left: 0px; line-height: 0.9">
                                            <a class="" target="_blank" href="https://www.instagram.com/invites/contact/?i=1d7j2qoq7twds&utm_content=2ipm7qd">awahinvestment</a><br>
                                            <p class="p-0 m-0">Instagram</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>