<div class="getstart section-padding bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title">
                    <h2>Get started in a few minutes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="getstart-content">
                    <span><i class="bi bi-person"></i></span>
                    <h3>Create an account</h3>
                    <p>Create an account on our platform by providing us with some needed information.</p>
                    <a href="/register">Create Account <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="getstart-content">
                    <span><i class="bi bi-bag-check"></i></span>
                    <h3>Make a Deposit</h3>
                    <p>Deposit fund into your account. Deposits are done using cryptocurrency, select your preferred means..</p>
                    <a href="/deposit">Deposit Now <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="getstart-content">
                    <span><i class="bi bi-cash"></i></span>
                    <h3>Investment & Withdrawals</h3>
                    <p>Create your investment, start withdrawing profits when due, withdraw capital back at the end of your investment.</p>
                    <a href="/invest">Explore <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>