<div class="intro1 section-padding bg-dark light">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-6 col-lg-6 col-12">
                <div class="intro-content">
                    <h1 class="text-light">Let <strong class="text-warning">Mondex</strong> <br> help free you financially.
                    </h1>
                    <p>With our years of experience, we are proud to offer true market-leading services.</p>

                    <div class="signin-btn">
                        <a href="/register" class="btn btn-warning btn-sm py-2 px-3 me-3 shadow-sm">Register</a>
                        <a href="/about" class="btn btn-primary btn-sm py-2 px-3 shadow-sm">About Us</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-12 intro-div">
                <img class="img-fluid rounded intro-div-img" src="/images/office_shot.jpg" >
            </div>
        </div>
    </div>
</div>