<div class="about-one section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5">
                <div class="service-content m-t-50">
                    <h1 class="mb-4">Who we are</h1>
                    <p>
                        Mondex is a subsidiary of Modexa Ltd. We are duly registered in the United Kingdom with company number 11089017 and our headquarters located at c/o Cox & Company, 324 Southend Road, Wickford, Essex SS11 8QS. 
                    </p>
                    <p>
                        Our parent company was incorporated on the 30th November 2017, and the subsidiary Mondex was incorporated on the 1st July 2020. The company was founded by Mrs Ichanie Lisa, a British National. 
                    </p>
                    <a href="/about" class="btn btn-warning my-4">More About Us</a>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-img">
                    <img src="images/about/1.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>