<div class="price-grid section-padding bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section-title">
                    <h2>Why Choose Us ?</h2>
                    <p class="text-center text-strong">
                        You can always rely on Mondex when it comes to trading cryptocurrency via CFDs. Below are a few reasons why you should invest in our trades.
                    </p>
                </div>
            </div>
        </div>
            
            
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="info-content">
                    <span><i class="bi bi-globe"></i></span>
                    <h4>Globally Regulated & Licensed</h4>
                    <p>Our brand is regulated and licensed in the United Kingdom with company number 11089017</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="info-content">
                    <span><i class="bi bi-lock"></i></span>
                    <h4>Secure and Safe</h4>
                    <p>Your funds are kept in segregated accounts, and our trades are secured by negative balance protection.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="info-content">
                    <span><i class="bi bi-headset"></i></span>
                    <h4>Dedicated Customer Support</h4>
                    <p>Round the clock assistance from our customer support personnels, in times of need or confusion.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="info-content">
                    <span><i class="bi bi-clock"></i></span>
                    <h4>5-30 min transactions</h4>
                    <p>Never wait too long for your transactions to be completed</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="info-content">
                    <span><i class="bi bi-shield-lock"></i></span>
                    <h4>Effective Risk Management</h4>
                    <p>We mitigate against risks with our extensive range of stop and limit orders.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="info-content">
                    <span><i class="bi bi-cash"></i></span>
                    <h4>No Hidden Fees</h4>
                    <p>Enjoy free surfing and transaction on the Mondex website and mobile app.</p>
                </div>
            </div>
        </div>
    </div>
</div>