<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <!-- Custom Stylesheet -->
    
    <link rel="stylesheet" href="/vendor/slick/slick.css">
    
    <script src="/vendor/jqvmap/js/jquery.vmap.min.html"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="@@dashboard">

<div id="preloader"><i>.</i><i>.</i><i>.</i></div>



<div id="main-wrapper">
	{{{body}}}
</div>



<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/apexchart/apexcharts.min.js"></script>
<script src="/js/plugins/apex-price.js"></script>
<script src="/vendor/slick/slick.min.js"></script>
<script src="/js/plugins/slick-init.js"></script>


<script src="/js/scripts.js"></script>


</body>


</html>
