<div class="authincation section-padding">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="mini-logo text-center my-5">
                    <a href="/"><img src="/images/logo.png" alt=""></a>
                </div>
                <div class="auth-form card">
                    <div class="card-header justify-content-center">
                        <h4 class="card-title">Reset Your Password Here</h4>
                    </div>
                    {{#if msg}}
                        {{> alert}}
                    {{/if}}
                    <div class="card-body">
                        <form action="/reset-password" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" value={{token}} required="true" name="token" hidden="true">
                                <input type="text" class="form-control" value={{user}} required="true" name="user" hidden="true">
                            </div>
                            <div class="form-group">
                                <label>Enter New Password</label>
                                <input type="password" class="form-control" placeholder="" required="true" name="password">
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" class="form-control" placeholder="" required="true" name="password2">
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-dark">Reset Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>